<footer class = "footer footer-dark">
  <div class="footer-copyright">Copyright&copy; 2020 |

    <div class="media-box">
      <a href="https://www.facebook.com/" class="fa fa-facebook">F</a>
      <a href="https://twitter.com/" class="fa fa-twitter">T</a>
      <a href="https://au.linkedin.com/" class="fa fa-instagram">L</a>
    </div>
    <span> <p> 
    Clock+<br>
    s3719368@student.rmit.edu.au - s3719368 -<br>
    attepmt grade level
    </p>
     </span>
  </div>
  
</footer>